html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.form-control:focus {
  border-color: rgb(255, 75, 62);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 75, 62, 0.6);
}

a {
  color: rgb(255, 75, 62);
}

a:hover {
  text-decoration: none;
  color: rgb(255, 158, 15);
}

.search-wrapper {
  height: 100px;
  position: absolute;
  top: 25px;
  transform: none;
  transition: top .5s ease;
}

.search-wrapper-centered {
  top: 50%;
  transform: translate(0, -50%);
}

.input-group-btn .btn {
  color: rgb(255, 75, 62);
}

.input-group-btn .btn:hover {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 75, 62, 0.6);
}

.random-link {
  text-align: center;
  padding-top: 5px;
}

.search-results {
  margin-top: 150px;
}

.search-result {
  margin-top: 25px;
  border-top: 1px dotted rgb(255, 75, 62);
}

.search-result h4 {
  color: rgb(255, 75, 62);
}

.search-result h4:hover {
  color: rgb(255, 158, 15);
}

.search-result a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 768px) {
  .search-result {
    border: none;
  }
  .search-body {
    border-left: 1px dotted rgb(255, 75, 62);
    min-height: 120px;
  }
  .search-image {
    padding-top: 8px;
    text-align: right;
  }
}